{% extends "contas/_auth_base.html" %}
{% block titulo %}Cadastrar{% endblock %}
{% block aba_cadastrar %}border-marca text-white{% endblock %}
{% block botao %}Criar conta{% endblock %}
{% block rodape %}
  <p class="mt-4 text-center text-[11px] leading-snug text-white/35">
    Ao clicar no botão Criar conta, você aceita nossos
    <a href="#" class="text-white/60 hover:text-marca">termos de uso</a> e
    <a href="#" class="text-white/60 hover:text-marca">política de privacidade</a>.
    É necessário ter 18 anos ou mais.
  </p>
{% endblock %}
